<html ng-app="DatosInv">
    <head>
        <title>My app</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" />
        <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="inv-data-app.js"></script>
        <script type="text/javascript" src="inv-ctrl.js"></script>
    </head>
    <body>
        
    <!-- new projects crud ---------------------- -->
    <!-- end new projects crud---------------------- -->
    
    <div class="container" ng-controller="InvData" style="margin-top:50px">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-7">
                                <td><input class="form-control" placeholder="ORCID" type="text" ng-model="searchOrcid"/></td>
                    </div>
                    <div class="col-sm-5">
                                <button class="btn btn-primary btn-info" ng-click="getInvData()">Buscar Investigador</button>
                    </div>
                </div>
                <div class="row">
                    <BR>
                </div>        
                <div class="row">
                    <div class="col-sm-12">
                    <!-- ini INE API JSON ---------------------- -->
                	<div class="panel panel-warning" width="100%">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            Datos del Investigador
                                            </h4>
                                        </div>
                                        <div class="panel-collapse">
                                            <div class="panel-body">
                                                <div style="text-align:center;padding:1em 0;">
                                                    <BR>
                                                    <span style="color:gray;">ORCID: </span> {{$scope.searchOrcid}}
                                                    <BR>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    <!-- Fin INE API JSON ---------------------- -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    </body>
</html>